[Unit]
Description=RS URL Shortener Service
After=network.target

[Service]
ExecStart=PathToBinary
User=User
Restart=always
WorkingDirectory=PathToRootDirectory

[Install]
WantedBy=multi-user.target